<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a href="" class="navbar-brand">ng2-cribs</a>
    </div>
  </nav>
  <h1>
    Welcome to {{title}}!
  </h1>

</div>

<div class="container">
  <app-add-listing-form></app-add-listing-form>
  <app-crib-listing></app-crib-listing>
</div>